.card {
  display: flex;
  padding: 20px;
}

.input {
  /*display: flex;*/
  /*justify-content: center;*/
  /*text-align: center;*/
  width: 80vw;
  padding: 10px;
}

.button {
  margin-right:5px;
  width: 20vw;
}
